{
    "swagger": "2.0",
    "info": {
        "title": "Navifleet API",
        "description": "",
        "version": "1.0.0"
    },
    "host": "gps.navifleet.pl",
    "basePath": "/api",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/alert/list": {
            "get": {
                "tags": [
                    "alerts"
                ],
                "summary": "Returns a list of notifications for the logged in user.",
                "description": "Allows you to filter notifications by the date the event occurred.",
                "operationId": "alert#listAction",
                "parameters": [
                    {
                        "name": "begin",
                        "in": "query",
                        "description": "Start of the filtering time range for example 2022-01-04 20:00",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End of filtering time range for example 2022-01-04 20:00",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Current page bias",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Limit per page",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Text search engine",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Download of notification list successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "User Notification List",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Alert"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/alert/listbydays": {
            "get": {
                "tags": [
                    "alerts"
                ],
                "summary": "Returns a list of notifications for the logged in user, categorized by date of occurrence.",
                "description": "Allows you to filter notifications by the date the event occurred.",
                "operationId": "alert#listByDayAction",
                "parameters": [
                    {
                        "name": "begin",
                        "in": "query",
                        "description": "Start of the filtering time range",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End of the filtering time range",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Download of notification list successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Successful operation status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "List of notifications for a user by day",
                                    "type": "array",
                                    "items": {
                                        "description": "Notifications list",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/definitions/Alert"
                                        }
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/alert/detail": {
            "get": {
                "tags": [
                    "alerts"
                ],
                "summary": "Returns details of the selected alert for the logged in user along with the occurrence history of correlated alerts for 30 days.",
                "description": "Returns details of the selected alert for the logged in user along with the occurrence history of correlated alerts for 30 days.",
                "operationId": "alert#detailAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Alert ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Downloading notification details successfully completed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Successful operation status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Details of the notification",
                                    "properties": {
                                        "detail": {
                                            "description": "Details of the notification",
                                            "properties": {
                                                "id": {
                                                    "description": "Notification ID",
                                                    "type": "integer"
                                                },
                                                "time": {
                                                    "description": "Time of notification generation",
                                                    "type": "integer",
                                                    "format": "int64"
                                                },
                                                "name": {
                                                    "description": "Content of the notification",
                                                    "type": "string"
                                                },
                                                "device": {
                                                    "description": "Name of the notified device",
                                                    "type": "string"
                                                },
                                                "device_license": {
                                                    "description": "Registration number of the notified device",
                                                    "type": "string"
                                                },
                                                "lon": {
                                                    "description": "Longitude",
                                                    "type": "number",
                                                    "format": "float"
                                                },
                                                "lat": {
                                                    "description": "Latitude",
                                                    "type": "number",
                                                    "format": "float"
                                                },
                                                "address": {
                                                    "description": "Address",
                                                    "type": "string"
                                                },
                                                "privateMode": {
                                                    "description": "Alert private mode state.",
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "perDaysCorrelatedAlertsNumbers": {
                                            "description": "Number of occurrences of correlated\n     *                      alerts by day",
                                            "type": "object",
                                            "additionalProperties": {
                                                "$ref": "#/definitions/CorrelatedAlertsByDay"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/bordercrossing/list/{type}/{id}": {
            "get": {
                "tags": [
                    "borderCrossings"
                ],
                "summary": "Returns a list of border crossing events, for the given identifier.",
                "description": "Object identifier means device identifier or driver code. Allows filtering by the date the event occurred.",
                "operationId": "borderCrossing#listAction",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "Type for which events will be retrieved (device or driver)",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "device",
                            "driver"
                        ]
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identifier of the object for which events will be retrieved",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Start of filtering time range (format yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "End of filtering time range (format yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Downloaded event list successfully",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "List of border crossing events",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/BorderCrossing"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/bordercrossing/list/{type}": {
            "get": {
                "tags": [
                    "borderCrossings"
                ],
                "summary": "Returns a list of overrun events, for the given identifiers.",
                "description": "Object identifier means device identifier or driver code. Allows filtering by the date the event occurred.",
                "operationId": "borderCrossing#multipleListAction",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "Type for which events will be retrieved (device or driver)",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "device",
                            "driver"
                        ]
                    },
                    {
                        "name": "ids",
                        "in": "query",
                        "description": "List of identifiers (separated by ',') for which events will be retrieved",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Start of filtering time range (format yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "End of filtering time range (format yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Download of event list successfully completed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Successful operation status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "List of border crossing events",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/BorderCrossing"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                }
            }
        },
        "/chart/speed": {
            "get": {
                "tags": [
                    "charts",
                    "routes"
                ],
                "summary": "Returns speed data for the specified device for the logged in user, over the specified time interval.",
                "description": "",
                "operationId": "chart#speedAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "begin",
                        "in": "query",
                        "description": "Start of time interval in format YYYY-MM-DD HH:mm",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End of time interval in format YYYY-MM-DD HH:mm",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data download successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Status of successful operation",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Speed data of the selected device",
                                    "type": "array",
                                    "items": {
                                        "type": "array",
                                        "items": {
                                            "type": "number",
                                            "maxItems": 2,
                                            "minItems": 2
                                        }
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/courses/list": {
            "get": {
                "tags": [
                    "courses"
                ],
                "summary": "Returns lists courses by vehicle id",
                "description": "Returns lists courses by vehicle id",
                "operationId": "courses#vehicleCoursesListAction",
                "parameters": [
                    {
                        "name": "deviceId",
                        "in": "query",
                        "description": "Device id",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "fromTs",
                        "in": "query",
                        "description": "Timestamp of the beginning of the courses search"
                    },
                    {
                        "name": "toTs",
                        "in": "query",
                        "description": "Timestamp of the ending of the courses search"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Download of course list successfully completed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Courses list for device",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Course"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/device/list": {
            "get": {
                "tags": [
                    "devices"
                ],
                "summary": "Returns a list of devices for the logged in user.",
                "description": "Allows you to filter devices based on the selected context.",
                "operationId": "device#listAction",
                "parameters": [
                    {
                        "name": "context",
                        "in": "query",
                        "description": "Context for which list will be returned",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "delegations",
                            "reports",
                            "sharing",
                            "tasks"
                        ]
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Vehicle type which will have to be returned",
                        "required": false,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Downloaded device list successfully",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "List of devices for the user in the given context",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Device"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/device/meters": {
            "get": {
                "tags": [
                    "devices"
                ],
                "summary": "Returns meters of selected devices.",
                "description": "Returns meters of selected devices.",
                "operationId": "device#metersAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Devices ID's for which meters should be returned, separated by comma",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Meters retrieved successfully",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "List of meters for selected devices",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/DeviceMeters"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/device/immobilizer/lock": {
            "get": {
                "tags": [
                    "devices"
                ],
                "summary": "Sends a request to the device to lock the vehicle using the immobilizer.",
                "description": "The device lock will be active until it is deactivated.",
                "operationId": "device#immobilizerLockAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request dispatch successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Success status information",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/device/immobilizer/unlock": {
            "get": {
                "tags": [
                    "devices"
                ],
                "summary": "Sends a request to the device to unlock the vehicle using the immobilizer.",
                "description": "The device lock will be disabled until it is re-enabled.",
                "operationId": "device#immobilizerUnlockAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request dispatch successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Success status information",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/device/can-control/door/close/{id}": {
            "get": {
                "tags": [
                    "devices"
                ],
                "summary": "Sends a request to the device to lock the door",
                "description": "",
                "operationId": "device#canControlDoorCloseAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Device ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request dispatch successfully completed"
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/device/can-control/door/open/{id}": {
            "get": {
                "tags": [
                    "devices"
                ],
                "summary": "Sends a door unlock request to the device",
                "description": "",
                "operationId": "device#canControlDoorOpenAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Device ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request dispatch successful"
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/device/obd/get/{type}/{id}": {
            "get": {
                "tags": [
                    "devices"
                ],
                "summary": "Sends a data download request to the device via ODB",
                "description": "",
                "operationId": "device#getObdData",
                "parameters": [
                    {
                        "name": "type",
                        "in": "path",
                        "description": "Data type",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "info",
                            "faultcodes",
                            "vin"
                        ]
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Device ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Device data"
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/device/obd/dtc/clear/{id}": {
            "get": {
                "tags": [
                    "devices"
                ],
                "summary": "Sends the device a request to clear error codes",
                "description": "",
                "operationId": "device#obdDtcFaultCodesClear",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Device ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Request dispatch successful"
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/etoll-devices/list": {
            "get": {
                "tags": [
                    "etollDevices"
                ],
                "summary": "Returns a list of devices with permission to send information to the E-Toll system",
                "description": "Returns a list of E-Toll devices with technical ID and current status of sending to E-Toll system.",
                "operationId": "etoll-devices#listAction",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Downloaded device list successfully",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "User etoll device list",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/EtollDevice"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/etoll-devices/sent-etoll-list": {
            "get": {
                "tags": [
                    "etollDevices"
                ],
                "summary": "Methods returns all devices with E-TOLL and/or SENT permission, and information about sendign data to E-TOLL/SENT services",
                "description": "Methods returns all devices with E-TOLL and/or SENT permission, and information about sendign data to E-TOLL/SENT services",
                "operationId": "etoll-devices#sentEtollDeviceList",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Pobranie listy urz\u0105dze\u0144 zako\u0144czone powodzeniem",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Status of successful operation",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "User E-TOLL/SENT device list",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/SentGEODevice"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/geozone/list": {
            "get": {
                "tags": [
                    "geozones"
                ],
                "summary": "Returns a list of zones for the logged in user",
                "description": "",
                "operationId": "geoZone#listAction",
                "responses": {
                    "200": {
                        "description": "Zone list download successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "List of user notifications by day",
                                    "type": "array",
                                    "items": {
                                        "description": "List of zones",
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/definitions/GeoZone"
                                        }
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/permissions/list": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Returns a list of permission function names for the currently logged in user.",
                "description": "",
                "operationId": "permissions#listAction",
                "responses": {
                    "200": {
                        "description": "Downloaded permissions list successfully",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Permission list for user",
                                    "type": "array",
                                    "items": {
                                        "description": "Notification List",
                                        "type": "string"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/pushnotification/token/set": {
            "get": {
                "tags": [
                    "pushnotifications"
                ],
                "summary": "Sets the PUSH notification token for the authenticated user correlated to his mobile device and the service to which the PUSH notifications will go",
                "description": "Sets the token for PUSH notifications for the authorized user correlated to their mobile device.",
                "operationId": "pushnotification#setTokenAction",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "A unique Token correlated to the user, their device and the service to which PUSH notifications will be sent",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "mobile_device_info",
                        "in": "query",
                        "description": "Text describing the user's device (such as make, model, serial number, etc.)",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Token was set successfully",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Operation status information and token",
                                    "properties": {
                                        "msg": {
                                            "description": "Feedback message informing about operation status",
                                            "type": "string"
                                        },
                                        "token": {
                                            "description": "Set token value correctly",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/pushnotification/token/unset": {
            "get": {
                "tags": [
                    "pushnotifications"
                ],
                "summary": "Deletes an uploaded PUSH notification token for an apikey key-authorized user.",
                "description": "Removes the submitted token for PUSH notification for the apikey key-authorized user.",
                "operationId": "pushnotification#unsetTokenAction",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "A unique Token correlated to a user, their device and service to be deleted",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Token was successfully deleted",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Operation status information and deleted token",
                                    "properties": {
                                        "msg": {
                                            "description": "Feedback message informing about operation status",
                                            "type": "string"
                                        },
                                        "token": {
                                            "description": "Value of deleted token",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/refueling/list/{id}": {
            "get": {
                "tags": [
                    "refueling"
                ],
                "summary": "Returns a list of refueling, for the given identifier.",
                "description": "Object identifier means device identifier. Allows filtering by the date.",
                "operationId": "refueling#listAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identifier of the object for which events will be retrieved",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Start of filtering time range (format yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "End of filtering time range (format yyyy-mm-dd hh:mm:ss)",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Downloaded list successfully",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "List of refueling",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Refueling"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/reports/engine_work_time/{id}": {
            "get": {
                "tags": [
                    "reports"
                ],
                "summary": "Returns a list of engine work time by day",
                "description": "Object identifier means device identifier. Allows filtering by the date.",
                "operationId": "reports#engineWorkTimeReportAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Identifier of the vehicle for which drives will be retrieved",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Start of filtering date range (format yyyy-mm-dd)",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "End of filtering date range (format yyyy-mm-dd)",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Downloaded list successfully",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "List of engine work times",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/EngineWorkTime"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/route/position": {
            "get": {
                "tags": [
                    "routes"
                ],
                "summary": "Returns the last item of selected devices of the logged-in user.",
                "description": "If no device identifiers are given, it returns the last positions of all vehicles available in the account of the logged-in user.",
                "operationId": "route#positionAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "List of device identifiers as character string, separated by <code>_</code>",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Downloaded item list successfully",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "List of recent items of selected devices",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Position"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/route/history": {
            "get": {
                "tags": [
                    "routes"
                ],
                "summary": "Returns a list of archived positions (route history) of the device for the logged in user, over the given time interval.",
                "description": "",
                "operationId": "route#historyAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "begin",
                        "in": "query",
                        "description": "Start of time interval as is a UNIX timestamp (e.g. <em>1641396002</em>)\n                     or specifies a timezone\n                     (e.g. <em>2022-01-05T15:00:00+02:00</em>).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End of time interval as is a UNIX timestamp (e.g. <em>1641396002</em>)\n                    or specifies a timezone\n                    (e.g. <em>2022-01-05T16:00:00+02:00</em>).",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Route history download successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Route history of the selected device",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/HistoryPosition"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/route/details": {
            "get": {
                "tags": [
                    "routes"
                ],
                "summary": "Returns details of the last item of the logged-in user's selected device.",
                "description": "",
                "operationId": "route#detailAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Item retrieval successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Route history of the selected device",
                                    "$ref": "#/definitions/DetailedPosition"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/route/stoppages": {
            "get": {
                "tags": [
                    "routes"
                ],
                "summary": "Returns a list of device stops for the logged in user, over the given time interval.",
                "description": "",
                "operationId": "route#stoppageAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "begin",
                        "in": "query",
                        "description": "Start of time interval as is a UNIX timestamp (e.g. <em>1641396002</em>)\n                    or specifies a timezone\n                    (e.g. <em>2022-01-05T16:00:00+02:00</em>).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End of time interval as is a UNIX timestamp (e.g. <em>1641396002</em>)\n                    or specifies a timezone\n                    (e.g. <em>2022-01-05T16:00:00+02:00</em>).",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Downloaded stop list successfully",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "List of stops of the selected device",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Stoppage"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/route/summary": {
            "get": {
                "tags": [
                    "routes"
                ],
                "summary": "Returns a summary of the device's traveled route for the logged in user, over the specified time interval.",
                "description": "",
                "operationId": "route#summaryAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "begin",
                        "in": "query",
                        "description": "Start of time interval as is a UNIX timestamp (e.g. <em>1641396002</em>)\n                or specifies a timezone\n                (e.g. <em>2022-01-05T16:00:00+02:00</em>).",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "End of time interval as is a UNIX timestamp (e.g. <em>1641396002</em>)\n                or specifies a timezone\n                (e.g. <em>2022-01-05T16:00:00+02:00</em>).",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Summary download successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Route Summary",
                                    "$ref": "#/definitions/RouteSummary"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/sent/set-sent-enabled": {
            "post": {
                "tags": [
                    "sentStatus"
                ],
                "summary": "Modifies the value of the flag with information about sending data to the SENT system",
                "description": "",
                "operationId": "sent#setSentEnabledAction",
                "parameters": [
                    {
                        "name": "device_id",
                        "in": "formData",
                        "description": "Identifier of the device for which the broadcast status is being changed",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sent_enabled",
                        "in": "formData",
                        "description": "Transmission status",
                        "required": true,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status change successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Zmienia warto\u015b\u0107 statusu nadawnia do systemu SENT",
                                    "$ref": "#/definitions/SentStatus"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/sent/sent-enabled-list": {
            "get": {
                "tags": [
                    "sentStatus"
                ],
                "summary": "Retrieves the sent system broadcast status value for devices that have this permission",
                "description": "",
                "operationId": "sent#sentEnabledListAction",
                "responses": {
                    "200": {
                        "description": "Downloading statuses successfully",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Zwraca list\u0119 urz\u0105dze\u0144 uprawnionych do integracji z systemem SENT wraz z ich aktualnym statusem nadawania.",
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/SentStatus"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/task/list": {
            "get": {
                "tags": [
                    "tasks"
                ],
                "summary": "Returns a list of tasks for the logged in user",
                "description": "Provides a pagination mechanism",
                "operationId": "task#listAction",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of tasks per page",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Text search engine",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Task list download successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "List of tasks with pagination parameters",
                                    "properties": {
                                        "data": {
                                            "description": "List of tasks",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/Task"
                                            }
                                        },
                                        "page": {
                                            "description": "Page number",
                                            "type": "integer"
                                        },
                                        "limit": {
                                            "description": "Number of tasks per page",
                                            "type": "integer"
                                        },
                                        "total": {
                                            "description": "Total number of tasks per user",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/task/get": {
            "get": {
                "tags": [
                    "tasks"
                ],
                "summary": "Returns the data of the selected task for the user",
                "description": "",
                "operationId": "task#readAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Task ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Task download successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Zwraca dane wybranego {@link Task zadania} dla u\u017cytkownika.\n\nParametr <code>id</code> okre\u015bla, kt\u00f3rego zadania dane zostan\u0105 zwr\u00f3cone.",
                                    "$ref": "#/definitions/Task"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/task/set": {
            "post": {
                "tags": [
                    "tasks"
                ],
                "summary": "Modifies the content of the task",
                "description": "",
                "operationId": "task#setAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "Task ID",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "executor_id",
                        "in": "formData",
                        "description": "Task executor user ID",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "device_id",
                        "in": "formData",
                        "description": "Identifier of the device associated with the task",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "number",
                        "in": "formData",
                        "description": "Task number",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "description": "Task type",
                        "required": true,
                        "type": "integer",
                        "enum": [
                            0,
                            1,
                            2
                        ]
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "Job status",
                        "required": true,
                        "type": "integer",
                        "enum": [
                            0,
                            1,
                            2,
                            4,
                            8,
                            16
                        ]
                    },
                    {
                        "name": "begin_date",
                        "in": "formData",
                        "description": "Task start date",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "end_date",
                        "in": "formData",
                        "description": "Task end date",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "distance",
                        "in": "formData",
                        "description": "Distance traveled in task",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "distance_for_accept",
                        "in": "formData",
                        "description": "Distance to be overwritten",
                        "required": false,
                        "type": "number",
                        "format": "float"
                    },
                    {
                        "name": "distance_change_accept",
                        "in": "formData",
                        "description": "Negotiate task override",
                        "required": true,
                        "type": "boolean"
                    },
                    {
                        "name": "distance_change_confirmation_send",
                        "in": "formData",
                        "description": "Negotiation of task override",
                        "required": true,
                        "type": "boolean"
                    },
                    {
                        "name": "modification_exist",
                        "in": "formData",
                        "description": "Negotiate task override",
                        "required": true,
                        "type": "boolean"
                    },
                    {
                        "name": "modification_override_accept",
                        "in": "formData",
                        "description": "Negotiate task override",
                        "required": true,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Task download successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Modyfikuje zawarto\u015b\u0107 zadania.",
                                    "$ref": "#/definitions/Task"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "deprecated": true,
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/task/add": {
            "post": {
                "tags": [
                    "tasks"
                ],
                "summary": "Adds a new task",
                "description": "",
                "operationId": "task#addAction",
                "parameters": [
                    {
                        "name": "executor_id",
                        "in": "formData",
                        "description": "Task executor user ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "device_id",
                        "in": "formData",
                        "description": "Identifier of the device associated with the task",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "number",
                        "in": "formData",
                        "description": "Task number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "description": "Task type",
                        "required": true,
                        "type": "integer",
                        "enum": [
                            0,
                            1,
                            2
                        ]
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "Job status",
                        "required": true,
                        "type": "integer",
                        "enum": [
                            0,
                            1,
                            2,
                            4,
                            8,
                            16
                        ]
                    },
                    {
                        "name": "begin_date",
                        "in": "formData",
                        "description": "Task start date, format YYYY-MM-DD HH:mm:ss",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "end_date",
                        "in": "formData",
                        "description": "Job end date, format YYYY-MM-DD HH:mm:ss",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Creation of new task successfully completed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Tworzy i dodaje nowe {@link Task zadanie}",
                                    "$ref": "#/definitions/Task"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/task/edit": {
            "post": {
                "tags": [
                    "tasks"
                ],
                "summary": "Modifies the given task",
                "description": "",
                "operationId": "task#editAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "formData",
                        "description": "Task ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "executor_id",
                        "in": "formData",
                        "description": "Job executor user ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "device_id",
                        "in": "formData",
                        "description": "Identifier of the device associated with the task",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "number",
                        "in": "formData",
                        "description": "Task number",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "description": "Task type",
                        "required": true,
                        "type": "integer",
                        "enum": [
                            0,
                            1,
                            2
                        ]
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "Job status",
                        "required": true,
                        "type": "integer",
                        "enum": [
                            0,
                            1,
                            2,
                            4,
                            8,
                            16
                        ]
                    },
                    {
                        "name": "begin_date",
                        "in": "formData",
                        "description": "Task start date, format YYYY-MM-DD HH:mm:ss",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "end_date",
                        "in": "formData",
                        "description": "Job end date, format YYYY-MM-DD HH:mm:ss",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Task modification successfully completed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Modyfikuje {@link Task zadanie}",
                                    "$ref": "#/definitions/Task"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/task/business-dependencies": {
            "get": {
                "tags": [
                    "tasks"
                ],
                "summary": "Returns a json structure describing the business logic of the task module",
                "description": "",
                "operationId": "task#tasksBusinessDependenciesAction",
                "parameters": [
                    {
                        "name": "lng",
                        "in": "query",
                        "description": "Symbol of language in which translations of structures are to be provided",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "Zwraca struktur\u0119 opisuj\u0105c\u0105 logik\u0119 biznesow\u0105 i mo\u017cliwe przej\u015bcia pomi\u0119dzy statusami oraz\nmo\u017cliwe pola do edycji dla r\u00f3\u017cnych typ\u00f3w {@link Task zada\u0144}",
                                    "$ref": "#/definitions/TasksBusinessDependencies"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/BadRequest"
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/responses/NotFound"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/user/login": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Returns the data of the user with the given name and password.",
                "description": "The method returns data only if the user with the given name exists in the system, and the given password matches the password of this user in the system.",
                "operationId": "user#loginAction",
                "parameters": [
                    {
                        "name": "login",
                        "in": "query",
                        "description": "User name in the system",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "User password",
                        "required": true,
                        "type": "string",
                        "format": "password"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authorization successful",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "",
                                    "$ref": "#/definitions/User"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Authorization failed",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean",
                                    "default": "false"
                                },
                                "data": {
                                    "description": "Error message",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/user/subaccounts": {
            "get": {
                "tags": [
                    "users"
                ],
                "summary": "Returns a list of sub-accounts available to the logged in user",
                "responses": {
                    "200": {
                        "description": "Downloading task list successfully",
                        "schema": {
                            "properties": {
                                "success": {
                                    "description": "Operation success status",
                                    "type": "boolean"
                                },
                                "data": {
                                    "description": "List of subaccounts",
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "description": "User ID",
                                                "type": "integer"
                                            },
                                            "first_name": {
                                                "description": "User's first and last name",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    },
                    "401": {
                        "$ref": "#/responses/Unauthorized"
                    }
                },
                "security": [
                    {
                        "ApiKey": []
                    }
                ]
            }
        },
        "/vehicle_drive/list/{id}": {
            "get": {
                "tags": [
                    "vehicle_drive"
                ],
[...]
